{% extends "base.html" %} {% load static %} {% block title %}Eisaal Foundation |
Donation for Upcoming Projetc{% endblock %} {% block head %}

<header id="upcoming-project_id">
  <img
    src="../static/img/appDonationBg.jpeg"
    class="img-fluid"
    style="width: 300vw; height: 85vh"
  />
  <div>
    <div class="my-4 container text-center">
      <a class="btn-solid-lg page-scroll" href="https://rzp.io/rzp/OFz5TDJz"
        >DONATE NOW</a
      >
    </div>
  </div>
  <!-- end of header-content -->
</header>

{% endblock %}
