{% extends "base.html" %} {% load static %} {% block title %} Eisaal Foundation
{% endblock %} {% block content %}

<div class="home-donation-banner">
  <div class="container p-5">
    <img
      src="../static/img/appDonationBg.jpeg"
      class="img-fluid"
      style="width: 300vw; height: 85vh"
    />
    <div>
      <div class="my-4 container text-center">
        <a class="btn-solid-lg page-scroll" href="https://rzp.io/rzp/OFz5TDJz"
          >DONATE NOW</a
        >
      </div>
    </div>
  </div>
</div>

<!-- Intro -->
<div id="intro" class="basic-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="text-container">
          <div class="section-title">INTRO</div>
          <h2>Empowering Lives, Transforming Futures At Eisaal Foundation</h2>
          <p class="testimonial-text">
            "Our Vision At Eisaal Foundation, our vision is simple yet powerful:
            to create a society where every individual, regardless of their
            background or circumstances, has access to the resources and support
            they need to lead a fulfilling and dignified life. We envision a
            world where: No widow is left to fend for herself, and every woman
            receives the support she needs to thrive. Every child has access to
            quality education, breaking the barriers of poverty and opening
            doors to endless possibilities. Every patient gets the healthcare
            they deserve, regardless of their socio-economic background. Every
            marriage is an occasion of joy, where families and communities come
            together in celebration, without the burden of financial distress."
          </p>
          <div class="testimonial-author">Team Eisaal Foundation!</div>
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-7">
        <div class="image-container">
          <img
            class="img-fluid"
            src="{% static 'img/intro-img-02.jpg' %}"
            alt="alternative"
          />
        </div>
        <!-- end of image-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of basic-1 -->
<!-- end of intro -->

<!-- Description -->
<div class="cards-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <!-- Card -->
        <div class="card">
          <span class="fa-stack">
            <span class="hexagon"></span>
            <i class="fas fa-binoculars fa-stack-1x"></i>
          </span>
          <div class="card-body">
            <h4 class="card-title">Supporting Widows:</h4>
            <p>
              We have provided financial assistance and resources to help widows
              regain their independence. From daily sustenance to long-term
              solutions, we ensure they receive the help they need to rebuild
              their lives with dignity.
            </p>
          </div>
        </div>
        <!-- end of card -->
        <!-- Card -->
        <div class="card">
          <span class="fa-stack">
            <span class="hexagon"></span>
            <i class="fas fa-list-alt fa-stack-1x"></i>
          </span>
          <div class="card-body">
            <h4 class="card-title">Empowering Children:</h4>
            <p>
              Education is the key to breaking the cycle of poverty. Through
              scholarships, school supplies, and educational programs, we have
              empowered countless children to access quality education,
              unlocking opportunities that will shape their futures.
            </p>
          </div>
        </div>
        <!-- end of card -->

        <!-- Card -->
        <div class="card">
          <span class="fa-stack">
            <span class="hexagon"></span>
            <i class="fas fa-chart-pie fa-stack-1x"></i>
          </span>
          <div class="card-body">
            <h4 class="card-title">Assisting Patients:</h4>
            <p>
              Healthcare is a basic right, but for many, it is a distant dream.
              We have provided medical support and funding for the treatment of
              patients suffering from various illnesses, ensuring they receive
              proper care when they need it the most.
            </p>
          </div>
        </div>
        <!-- end of card -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of cards-1 -->
<!-- end of description -->

<!-- Testimonials -->
<div class="slider">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Our Achievements</h2>
        <p class="p-heading">
          To date, we have raised over half a million rupees through the
          generosity of donors, volunteers, and well-wishers, which has enabled
          us to reach countless lives across the country.
        </p>
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-lg-12">
        <!-- Card Slider -->
        <div class="slider-container">
          <div class="swiper-container card-slider">
            <div class="swiper-wrapper">
              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-01.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>
              <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-02.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>
              <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-03.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>
              <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-04.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>
              <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-05.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>
              <!-- end of swiper-slide -->
              <!-- end of slide -->

              <!-- Slide -->
              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-06.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-07.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-08.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-09.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-10.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-11.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-12.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-13.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-14.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-15.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-16.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>

              <div class="swiper-slide">
                <div class="card">
                  <img
                    class="card-image"
                    src="{% static 'img/donation-17.jpg' %}"
                    alt="alternative"
                  />
                  <div class="card-body">
                    <div class="testimonial-author">Donation Complete</div>
                  </div>
                </div>
              </div>
              <!-- end of swiper-slide -->
              <!-- end of slide -->
            </div>
            <!-- end of swiper-wrapper -->

            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <!-- end of add arrows -->
          </div>
          <!-- end of swiper-container -->
        </div>
        <!-- end of sliedr-container -->
        <!-- end of card slider -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of slider -->
<!-- end of testimonials -->

<!-- About -->
<div id="about" class="counter">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xl-6">
        <div class="image-container">
          <img
            class="img-fluid"
            src="{% static 'img/logo.jpg' %}"
            alt="alternative"
          />
        </div>
        <!-- end of image-container -->
      </div>
      <!-- end of col -->
      <div class="col-lg-7 col-xl-6">
        <div class="text-container">
          <div class="section-title">ABOUT</div>
          <h2>Supporting Marriages:</h2>
          <p>
            In many parts of India, financial constraints can make it impossible
            for families to arrange marriages for their daughters. We’ve
            facilitated marriage arrangements for several young women, ensuring
            they embark on their new life with dignity and security.
          </p>

          <!-- Counter -->
          <div id="counter">
            <div class="cell">
              <div class="counter-value number-count" data-count="150">1</div>
              <div class="counter-info">Happy Donor</div>
            </div>
            <div class="cell">
              <div class="counter-value number-count" data-count="107">1</div>
              <div class="counter-info">Doation Completed</div>
            </div>
            <div class="cell">
              <div class="counter-value number-count" data-count="159">1</div>
              <div class="counter-info">Good Reviews</div>
            </div>
          </div>
          <!-- end of counter -->
        </div>
        <!-- end of text-container -->
      </div>
      <!-- end of col -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container -->
</div>
<!-- end of counter -->
<!-- end of about -->
{% endblock %}
